            <!-- Bras Gauche : Coeur -->
            <div class="col-md-4">
                <%- include('./row/RealiteAugmentee.ejs') %>                
                <%- include('./row/Chat.ejs') %>
            </div>

            <!-- Ressenti Central : Sens -->
            <div class="col-md-4">
                <iframe 
                    src="https://app.flocus.com/" 
                    class="w-100" 
                    style="border:0; height:500px;" 
                    frameborder="0" 
                    allowfullscreen>
                </iframe>
            </div>

            <!-- Colonne Droite : Temps -->
            <div class="col-md-4">
                <%- include('./row/Notion.ejs') %>
                <%- include('./row/RightPannel/Quetes.ejs') %>
                <%- include('./row/RightPannel/Temps.ejs') %>
            </div>
