<%- include('../Composants/head.ejs') %>
  </head>

<body class="bg-light text-dark">

  <!-- Offcanvas Navigation -->
  <!-- Sidebar (Version Réduite pour PC) -->
  <%- include('../Composants/nav.ejs') %>

  <main>
    <!-- Contenu Principal -->
    <%- include('../Composants/Section.ejs') %>
  </main>

  <!-- Modal Mon Profil -->
  <%- include('../Composants/Profil.ejs') %>

    <%- include('../includes/end.ejs') %>