<%- include('../Composants/head.ejs') %>
</head>

<body class="bg-light">
  <%- include('../includes/BarreNavigation.ejs') %>

  <div class="container-fluid py-3">
      <div class="row">
        <%- include('../Composants/Elements/row.ejs') %>
      </div>

      <!-- Barre Inférieure : Inventaire et Raccourcis -->
      <%- include('../Composants/Elements/DecisionBar.ejs') %>
  </div>

<%- include('../includes/end.ejs') %>